@model IEnumerable<BMG.Models.Traveling>

@{
    ViewBag.Title = "Index";
}

<h2>Путешествия</h2>

<p>
    @Html.ActionLink("Создать новое путешествие", "Create")
</p>

@foreach (var item in Model)
{
    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <center>
                    <h3>@Html.DisplayFor(modelItem => item.Name)</h3>
                    <p>@Html.DisplayFor(modelItem => item.Description)</p>
                </center>
                <div class="caption">
                    Дата приезда  @Html.DisplayFor(modelItem => item.DateComing)
                    Дата отезда    @Html.DisplayFor(modelItem => item.DateDeparture)
                    <br />
                    Страна  @Html.DisplayFor(modelItem => item.Country.Name)
                    Город @Html.DisplayFor(modelItem => item.City.Name)
                    @Html.ActionLink("Подробнее", "Details", new { id = item.Id })
                </div>
            </div>
        </div>
    </div>


}


