@model BMG.Models.Photo

@{
    ViewBag.Title = "Подробнее о фототографии";
}

<h2>Подробнее о фототографии</h2>
<div class="row">
    <hr />
    @Html.Partial("~/Views/Photos/_Avatar.cshtml", Model);
    <p>
        @Html.DisplayFor(model => model.Description)
    </p>
    @if (Model.Main == true)
    {
        <p> Является аватаркой</p>
    }
    else
    {
        <p>Не является аватаркой</p>
    }
   Создана @Html.Partial("~/Views/Users/_LinkUser.cshtml", Model.AspNetUser)
    <p>
        @if (Model.AspNetUser.UserName == User.Identity.Name)
        {
            @Html.ActionLink("Редактирование", "Edit", new { id = Model.Id })
            <br />
            @Html.ActionLink("Удалить", "Delete", new { id = Model.Id })
        }
    </p>
    @Html.Partial("~/Views/Discussions/_Discussion.cshtml", Model.Discussion)
    @{
        BMG.Models.UsersDiscussion comment = new BMG.Models.UsersDiscussion();
        comment.DataTimeWrite = DateTimeOffset.Now.DateTime;
        comment.Discussion = Model.Discussion;
        comment.AspNetUser = Model.AspNetUser;
    }
    @Html.Partial("~/Views/UsersDiscussions/_Create.cshtml", comment)
</div>

