@model IEnumerable<BMG.Models.Photo>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@foreach (var item in Model)
{
    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="https://@Html.DisplayFor(modelItem => item.Path)" alt="@Html.DisplayFor(modelItem => item.Description)" />
                <div class="caption">
                    <h3>@Html.DisplayFor(modelItem => item.Description)</h3>
                    <p>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })

                    </p>
                </div>
            </div>
        </div>
    </div>

}
