@model IEnumerable<BMG.Models.Photo>

@{
    ViewBag.Title = "Фотографии";
}

<h2>Фотографии</h2>

<p>
    @Html.ActionLink("Добавить фотографию", "Create")
</p>
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-lg-4">
            <div class="thumbnail">
                <img src="https://@Html.DisplayFor(modelItem => item.Path)" alt="@Html.DisplayFor(modelItem => item.Description)" />
                <div class="caption">
                    <h3>@Html.DisplayFor(modelItem => item.Description)</h3>
                    <p>
                        @Html.ActionLink("Подробнее", "Details", new { id = item.Id })
                    </p>
                    @if (item.AspNetUser.UserName == User.Identity.Name)
                    {<p>
                        @Html.ActionLink("Редактирование", "Edit", new { id = item.Id })
                        @Html.ActionLink("Удаление", "Delete", new { id = item.Id })
                    </p>
                    }
                </div>
            </div>
        </div>
    }
</div>