@model BMG.Models.AspNetUser
@{
    ViewBag.Title = "Фотографии";
}

<h2>Мои фотографии</h2>
<p>
    @Html.ActionLink("Создать новую фотографию", "Create")
</p>
<div class="row">
    <div class="col-lg-6 thumbnail">
        <center>
            <h2>Мой фотоальбом</h2>
        </center>
        <div class="row">
            @foreach (var item in Model.Photos1)
            {
                
                    <div class="col-lg-4">

                        @using (Html.BeginForm("MyPhotosDelete", "Photos", item))
                        {
                            @Html.AntiForgeryToken()
                            @Html.Partial("~/Views/Photos/_Photo.cshtml", item);
                            <div class="form-group">
                                <input type="submit" value="Удалить из фотоальбома" class="btn btn-default" />
                            </div>
                        }
                    </div>
                
            }
        </div>
    </div>

    <div class="col-lg-6 thumbnail">
        <center>
            <h2>Фотографии не в альбоме</h2>
        </center>

        <div class="row">
            @foreach (var item in Model.Photos)
            {
                if (!Model.Photos1.Contains(item)&&item.Traveling==null&&item.Place==null&&item.Group==null) {
                <div class="col-lg-4">
                    
                    @using (Html.BeginForm("MyPhotosAdd", "Photos", item))
                    {
                        @Html.AntiForgeryToken()
                        @Html.Partial("~/Views/Photos/_Photo.cshtml", item);
                        <div class="form-group">
                            <input type="submit" value="Добавить в фотоальбом" class="btn btn-default" />
                        </div>
                    }
                </div>
            }
            }
        </div>
    </div>
</div>