@model IEnumerable<BMG.Models.Photo>
@{
    ViewBag.Title = "Мой фотоальбом";
}
<div class="row page-header">
    <div class="col-md-offset-3 col-lg-6">
        <center>
            <h1>Фотоальбом</h1>
        </center>
    </div>
    <div class="col-lg-3">
        @Html.ActionLink("Создать новую фотографию", "Create")
    </div>
</div>
<div class="row">
    <div class="col-lg-6 thumbnail">
        <center>
            <h2>Мой фотоальбом</h2>
        </center>
        <div class="row">
            @foreach (var itemPhoto in Model)
            {
                if (itemPhoto.ContainsPhotoAlbum == true)
                {
                    <div class="col-lg-6">
                        <div class="thumbnail">
                            <img src="https://@Html.DisplayFor(modelItem => itemPhoto.Path)" alt="@Html.DisplayFor(modelItem => itemPhoto.Description)" />
                            <div class="caption">
                                <h3>@Html.DisplayFor(modelItem => itemPhoto.Description)</h3>
                                <small>из @Html.DisplayFor(modelItem => itemPhoto.Country.Name) @Html.DisplayFor(modelItem => itemPhoto.City.Name)</small>
                                <p>
                                    @Html.ActionLink("Редактировать", "Edit", new { id = itemPhoto.Id }) |
                                    @Html.ActionLink("Подробнее", "Details", new { id = itemPhoto.Id }) |
                                    @Html.ActionLink("Удалить", "Delete", new { id = itemPhoto.Id })
                                </p>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>

    <div class="col-lg-6 thumbnail">
        <center>
            <h2>Фотографии не в альбоме</h2>
        </center>
        <div class="row">
            @foreach (var itemPhoto in Model)
            {
                if (itemPhoto.ContainsPhotoAlbum!=true)
                {
                    using (Html.BeginForm("AddToPhotoAlbum", "Photos", itemPhoto))
                    {

                        <div class="col-lg-6">
                            <div class="thumbnail">
                                <img src="https://@Html.DisplayFor(modelItem => itemPhoto.Path)" alt="@Html.DisplayFor(modelItem => itemPhoto.Description)" />
                                <div class="caption">
                                    <h3>@Html.DisplayFor(modelItem => itemPhoto.Description)</h3>
                                    <p>
                                        @Html.AntiForgeryToken();
                                        <input type="submit" value="Добавить в альбом" class="btn btn-default" />
                                        @Html.ActionLink("Подробнее", "AddToPhotoAlbum", new { id = itemPhoto.Id })
                                        @Html.ActionLink("Подробнее", "Details", new { id = itemPhoto.Id }) |
                                        @Html.ActionLink("Редактировать", "Edit", new { id = itemPhoto.Id }) |
                                        @Html.ActionLink("Удалить", "Delete", new { id = itemPhoto.Id })
                                    </p>
                                </div>
                            </div>
                        </div>
                    }
                }
            }
        </div>
    </div>
</div>