@model BMG.Models.Discussion

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

    <h2> @Html.Partial("~/Views/Discussions/_LinkDiscussion.cshtml", Model)</h2>
    <h4>от @Html.Partial("~/Views/Users/_LinkUser.cshtml", Model.AspNetUser)</h4>
    @if (Model.Photos.Count == 1)
    {
        foreach (var i in Model.Photos)
        {
            @Html.Partial("~/Views/Photos/_Avatar.cshtml", i)
        }
    }
    @if (Model.Place != null)
    {
        foreach (var i in Model.Photos)
        {
            if (i.Main == true)
            {
                @Html.Partial("~/Views/Photos/_Avatar.cshtml", i);
            }

        }
    }
    <p>
        @Html.ActionLink("Подробнее", "Details", new { id = Model.Id })

    </p>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
