@model BMG.Models.Occasion

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Occasion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArrivalDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArrivalDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CheckOut)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CheckOut)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CommentTreveler)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CommentTreveler)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CommentHost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CommentHost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CommentPlaceHost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CommentPlaceHost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspNetUser.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUser.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspNetUser1.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUser1.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Place.IdUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Place.IdUser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Traveling.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Traveling.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
