@model BMG.Models.AspNetUser

<div>
    <hr />
    <div class="row">
        <div class="col-lg-2">
            <table class="table">
                <tr>
                    <a href="~/Messages/MyMessages" class="list-group-item list-group-item-info">Мои сообщения</a>
                </tr>
                <tr>
                    <a href="~/Photos/MyPhotos" class="list-group-item list-group-item-info">Мои фотографии</a>
                </tr>
                <tr>
                    <a href="~/Places/MyPlaces" class="list-group-item list-group-item-info">Мои места</a>
                </tr>
                <tr>
                    <a href="~/Travelings/MyTravelings" class="list-group-item list-group-item-info">Мои путешествия</a>
                </tr>
                <tr>
                    <a href="~/Occasions/MyOccasions" class="list-group-item list-group-item-info">Мои события</a>
                </tr>
                <tr>
                    <a href="~/Groups/MyGroups" class="list-group-item list-group-item-info">Мои группы</a>
                </tr>
                <tr>
                    <a href="~/Discussions/MyDiscussions" class="list-group-item list-group-item-info">Мои дискуссии</a>
                </tr>
            </table>
        </div>
        <div class="col-lg-10">
            <div class="jumbotron">
                <center><h1>@Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.SecondName)</h1></center>
                <div class="row">
                    <div class="col-lg-6">
                        @foreach (var i in Model.Photos)
                        {

                            if (i.AspNetUser != null && i.Main == true)
                            {
                                @Html.Partial("~/Views/Photos/_Avatar.cshtml", i);
                            }

                        }
                    </div>
                    <div class="col-lg-6">
                        <table class="table">
                            <tr>
                                <th>
                                    Email
                                </th>
                                <td>
                                    @Html.DisplayFor(model => model.Email)
                                </td>
                            </tr>
                            @if (Model.PhoneNumber != null)
                            {
                                <tr>
                                    <th>
                                        Номер
                                    </th>
                                    <td>
                                        @Html.DisplayFor(model => model.PhoneNumber)
                                    </td>
                                </tr>
                            }
                            @if (Model.DataBirthday != null)
                            {
                                <tr>
                                    <th>
                                        Дата рождения
                                    </th>

                                    <td>
                                        @Html.DisplayFor(model => model.DataBirthday.Value.Day)
                                        - @Html.DisplayFor(model => model.DataBirthday.Value.Month)
                                        - @Html.DisplayFor(model => model.DataBirthday.Value.Year)
                                    </td>

                                </tr>
                            }
                            @if (Model.Status != null)
                            {
                                <tr>
                                    <th>
                                        Статус
                                    </th>
                                    <td>
                                        @Html.DisplayFor(model => model.Status)
                                    </td>
                                </tr>
                            }
                            @if (Model.InfoAboutMe != null)
                            {
                                <tr>
                                    <th colspan="2">
                                        <center>
                                            Подробная информация обо мне
                                        </center>
                                    </th>
                                </tr>

                                <tr>
                                    <td colspan="2">
                                        <center>
                                            @Html.DisplayFor(model => model.InfoAboutMe)
                                        </center>
                                    </td>
                                </tr>
                            }
                            <tr>
                                <td colspan="2">
                                    <div class="btn-group btn-group-justified">
                                        @Html.ActionLink("Редактирование профиля", "Edit", new { id = Model.Id }, new { @class = "btn btn-default" })
                                        @Html.ActionLink("Удаление профиля", "Delete", new { id = Model.Id }, new { @class = "btn btn-default" })
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>