@model BMG.Models.AspNetUser

@{
    ViewBag.Title = "Обо мне";
}

<h2>Обо мне</h2>

<div class="jumbotron">
    <center><h1>@Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.SecondName)</h1></center>

    <div class="row">

        <div class="col-lg-6">
            
                    @Html.Partial("~/Views/Photos/_Avatar.cshtml", Model);
              
        </div>
        <div class="col-lg-6">
            <table class="table">
                <tr>
                    <th>
                        Email
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.Email)
                    </td>
                </tr>
                @if (Model.PhoneNumber != null)
                {
                    <tr>
                        <th>
                            Номер
                        </th>
                        <td>
                            @Html.DisplayFor(model => model.PhoneNumber)
                        </td>
                    </tr>
                }
                @if (Model.DataBirthday != null)
                {
                    <tr>
                        <th>
                            Дата рождения
                        </th>

                        <td>
                            @Html.DisplayFor(model => model.DataBirthday.Value.Day)
                            - @Html.DisplayFor(model => model.DataBirthday.Value.Month)
                            - @Html.DisplayFor(model => model.DataBirthday.Value.Year)
                        </td>

                    </tr>
                }
                @if (Model.Status != null)
                {
                    <tr>
                        <th>
                            Статус
                        </th>
                        <td>
                            @Html.DisplayFor(model => model.Status)
                        </td>
                    </tr>
                }
                @if (Model.InfoAboutMe != null)
                {
                    <tr>
                        <th colspan="2">
                            <center>
                                Подробная информация обо мне
                            </center>
                        </th>
                    </tr>

                    <tr>
                        <td colspan="2">
                            <center>
                                @Html.DisplayFor(model => model.InfoAboutMe)
                            </center>
                        </td>
                    </tr>
                }
                @if (Model.UserName == User.Identity.Name) {
                <tr>
                    <td colspan="2">
                        <div class="btn-group btn-group-justified">
                            @Html.ActionLink("Редактирование профиля", "Edit", new { id = Model.Id }, new { @class = "btn btn-default" })
                            @Html.ActionLink("Удаление профиля", "Delete", new { id = Model.Id }, new { @class = "btn btn-default" })
                        </div>
                    </td>
                </tr>
                }
            </table>
        </div>
        
        </div>
</div>
<h2>Мои фотографии</h2>
<div class="row">
        @foreach (var i in Model.Photos1)
        {
            <div class="col-lg-3">
                @Html.Partial("~/Views/Photos/_Photo.cshtml", i);
            </div>
        }
</div>