@model IEnumerable<BMG.Models.AspNetUser>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@foreach (var item in Model)
{
    <div class="thumbnail">
        @foreach (var i in item.Photos1.ToList())
        {
            if (i.AspNetUser1 != null && i.Main == true)
            {
                @Html.Partial("~/Views/Photos/_AvatarUser.cshtml", i);
            }
        }
        @Html.DisplayFor(modelItem => item.FirstName)

        @Html.DisplayFor(modelItem => item.SecondName)
        @if (item.UserName == User.Identity.Name) { 
        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) 
        @Html.ActionLink("Details", "Details", new { id = item.Id }) 
        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        }
    </div>
}
