@model IEnumerable<BMG.Models.AspNetUser>

@{
    ViewBag.Title = "Профиль";
}

<h2>Профиль</h2>

@using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
{
    foreach (var item in Model)
    {
        if (item.Email == User.Identity.Name)
        {
            <div class="jumbotron">
                <div class="row">
                    <div class="col-lg-6">

                        <h2>@Html.DisplayFor(modelItem => item.UserName)</h2>

                        Email  @Html.DisplayFor(modelItem => item.Email)
                        <br>
                        Номер   @Html.DisplayFor(modelItem => item.PhoneNumber)
                        <br>
                        @Html.ActionLink("Редактирование профиля", "Edit", new { id = item.Id })
                        <br>
                        @Html.ActionLink("Удаление профиля", "Delete", new { id = item.Id })

                        <br>
                        <a href="~/Messages/Index">Сообщения</a>
                        <br>
                        <a href="~/Photos/Index">Фотографии</a>
                        <br>
                        <a href="~/Places/Index">Места</a>

                    </div>
                    <div class="col-lg-6">
                        <a class="thumbnail">
                            <img src="https://@Html.DisplayFor(modelItem => item.Photo.Path)" alt="@Html.DisplayFor(modelItem => item.Photo.Description)" width="100%">
                        </a>
                        <div class="caption">
                            <p>@Html.DisplayFor(modelItem => item.Photo.Description)</p>
                        </div>
                    </div>
                </div>

            </div>
    <div class="row">
        <div class="col-md-4">
            <h2><a href="~/Occasions/Index">Отзывы обо мне</a></h2>
            <p>
            @Html.Partial("MyStronglyTypedPartial", item.Occasions)
            </p>
        </div>
        <div class="col-md-4">
            <h2><a href="~/Occasions/Index">Мои события</a></h2>
            <p>
                
            </p>
        </div>
        <div class="col-md-4">
            <h2><a href="~/Travelings/Index">Путешествия в моём городе</a></h2>
            <p>
                В разработке
            </p>
        </div>
        <div class="col-md-4">
            <h2><a href="~/Groups/Index">Группы в моём городе</a></h2>
            <p>
                В разработке
            </p>
        </div>
    </div>
        }
    }
}
