@model IEnumerable<BMG.Models.AspNetUser>

@{
    ViewBag.Title = "Люди";
}

<h2>Люди</h2>
<div class="row">
    @foreach (var item in Model)
    {
        if (item != null)
        {
            <div class="col-lg-2">
                <div class="thumbnail">
                    <img src="https://@Html.DisplayFor(modelItem => item.Photo.Path)" alt="@Html.DisplayFor(modelItem => item.Photo.Description)" width="100%">
                    @Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.SecondName)
                    <br /> из @Html.DisplayFor(modelItem => item.Country.Name)
                    @Html.DisplayFor(modelItem => item.City.Name)
                </div>
            </div>
        }
    }
</div>